<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <title>NASAapod</title>
</head>
<body>
    <h1>404</h1>
    <p>Ops, it's seems you have chosen a day from the past or from the future. <br> Don't worry Marty McFly, get back in your DeLorean and come back to the present  <a href="/">here</a></p>

    <div class="image1">
        <img src="static/images/marty.png"   style="max-width: 100%;">
    </div>
</body>
</html>